*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

body {
  background-color: #212529;
  color: #212529;
}

h1 {
  color: #007bff;
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: normal;
}

h2 {
  font-size: 1.25rem;
  font-weight: 20px;
}

p {
  font-size: 0.8rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  width: 200px;
}

.container {
  padding: 10px 60px;
}
.headers {
  display: flex;
  justify-content: space-around;
}
span {
  margin-top: 2rem;
}

input[type="text"] {
  width: 120%;
  padding: 20px;
  border-radius: 15px;
  outline: none;
  border: none;
  font-size: 20px;
  color: #212529;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: minmax(250px, auto);
  align-items: center;
  justify-items: center;
  grid-auto-flow: row;
  row-gap: 30px;
  column-gap: 50px;
}

.film {
  max-height: 350px;
  background-color: #f2f2f2;
  display: flex;
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 7px;
}

.movie-details {
  padding-left: 10px;
}

.loader {
  text-align: center;
}

.loader svg {
  height: 5.5rem;
  width: 5.5rem;
  fill: #fff;
  transform-origin: 44% 50%;
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 430px) {
  h1 {
    text-align: center;
  }

  img {
    width: 45%;
  }

  .container {
    padding: 10px 20px;
  }

  .movies-container {
    display: block;
    margin: 0 auto;
  }

  .film {
    margin-bottom: 20px;
    overflow: hidden;
  }
}

/* @media (min-width: 200px) and (max-width: 500px) {
  .movies-container {
    grid-template-columns: none;
    align-items: center;
    justify-content: center;
  }
  .film {
    width: 100%;
    width: 100%;
  }
} */
